* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #134E5E;
}

section.wrapper {
    display: flex;
}

section.containerWithNavigation {
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    justify-content: flex-start;
}

section.containerWithNavigation > h1.mainTitle {
    color: white;
    text-transform: uppercase;
    font-size: 3.4rem;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

section.containerWithNavigation > div.logUnderMainTitle {
    display: block;
    background-color: white;
    height: 2px;
    width: 75%;
    border: 2px;
    margin-top: 15px;
}

section.containerWithNavigation > h2.navigationTitle {
    text-transform: uppercase;
    color: white;
    opacity: 40%;
    margin-top: 50px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

section.containerWithNavigation > nav > ul.navigation {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
}

section.containerWithNavigation > nav > ul.navigation > li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

section.containerWithNavigation > nav > ul.navigation > li > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    background-color: rgba(100, 100, 100, 0.7);
}

section.containerWithNavigation > nav > ul.navigation > li > div > img {
    width: 21px;
}

section.containerWithNavigation > nav > ul.navigation > li > a {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
    margin-left: 20px;
    letter-spacing: 1px;
}

section.mainElements {
    position: relative;
    background-color: #f4FBF4;
    width: 80%;
    border-radius: 20px;
    height: 128vh;
    margin: 2vh 2vh 2vh 0;
}

section.mainElements > h1 {
    position: relative;
    top:25px;
    left: 45px;
    text-transform: uppercase;
    color: #134E5E;
    font-size: 2.8rem;
}

.result {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-right: 10rem;
}

.bar {
    display: flex;
    position: relative;
    height: 3rem;
    margin-bottom: 10px;
    overflow: hidden; 
    padding-right: 2rem;
    padding-left: 2rem;
}

.value {
    color: #134E5E;
    font-size: 1.7rem;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.icon {
    width: 3rem; 
    height: 3rem; 
    position: absolute; 
    top: 50%;
    transform: translateY(-50%); 
    background-color: #fff; 
    border: 1px solid #000; 
}

.icon img {
    padding: 0.2rem;
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
}

.leftIcon {
    left: -0px; 
}

.rightIcon {
    right: -0px;
}

.progress {
    height: 100%;
    background-color: #66c0f4; 
}

.remaining {
    height: 100%;
    background-color: #f47560; 
}

.chartArea {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
    margin-right: 10rem;
}

.chosen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 10rem;
    font-size: 2.5rem;
}

.chartAndText {
    display: flex;
    flex-direction: row;
    align-items: center; /* Wyrównaj elementy wzdłuż osi Y */
}

.textResult {
    flex-direction: column;
}

.textResult > h1 {
    font-size: 2.5rem;
    color: #134E5E;
    margin-bottom: 1rem;
}

.barName {
    font-size: 1.6rem;
    align-items: center;
    display: flex;
    margin-left: auto; /* Wyrównanie do prawej */
    margin-right: auto; /* Wyrównanie do lewej */
}
